common/src/main/resources/contracts/manifest/manifest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:simpleType name="LatitudeType">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="-90"/>
            <xs:maxInclusive value="90"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="LongitudeType">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="-180"/>
            <xs:maxInclusive value="180"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="manifest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="droneId" type="xs:string"/>
                <xs:element name="operatorId" type="xs:string"/>
                <xs:element name="startTime" type="xs:dateTime"/>
                <xs:element name="endTime" type="xs:dateTime"/>

                <xs:element name="photos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="photo" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="fileKey">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:minLength value="1"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="takenAt" type="xs:dateTime"/>
                                        <xs:element name="latitude" type="LatitudeType"/>
                                        <xs:element name="longitude" type="LongitudeType"/>
                                        <xs:element name="altitude" type="xs:double"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
