common/src/main/resources/contracts/catalog/catalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="catalog">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="record" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="recordId" type="xs:string"/>
                            <xs:element name="sessionId" type="xs:string"/>
                            <xs:element name="fileKey" type="xs:string"/>

                            <xs:element name="droneId" type="xs:string"/>
                            <xs:element name="operatorId" type="xs:string"/>

                            <xs:element name="takenAt" type="xs:dateTime"/>
                            <xs:element name="latitude" type="xs:double"/>
                            <xs:element name="longitude" type="xs:double"/>
                            <xs:element name="altitude" type="xs:double"/>

                            <xs:element name="speed" type="xs:double"/>
                            <xs:element name="confidence" type="xs:double"/>

                            <xs:element name="decisionStatus" type="xs:string"/>
                            <xs:element name="ruleCode" type="xs:string"/>
                            <xs:element name="amount" type="xs:double"/>
                            <xs:element name="requiresReview" type="xs:boolean"/>

                            <xs:element name="evidenceXml" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
