common/src/main/resources/contracts/rules/rules.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="rules">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="speedLimitKmh" type="xs:double"/>
                <xs:element name="reviewConfidenceThreshold" type="xs:double"/>

                <xs:element name="amounts">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="bracket" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="fromOverKmh" type="xs:double"/>
                                        <xs:element name="toOverKmh" type="xs:double" minOccurs="0"/>
                                        <xs:element name="amount" type="xs:double"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
